prot2vec.Rproj
.Rhistory
*.Rproj.user*
.RData

.idea/

data
src/python/Data/*.obo
src/python/Data/*.emb*

models
figures

gensim
node2vec

virtualenv
recurrentshop

*.pyc
*.spec
*.egg*
build
dist

*.ipynb*
.ipynb_checkpoints
.Rproj.user

src/__pycache__/
src/python/__pycache__/
