prot2vec.Rproj
.Rhistory
*.Rproj.user*
.RData

.idea/

data
Data/*.obo

models
figures

virtualenv
recurrentshop

*.pyc
*.spec
*.egg*
build
dist

*.ipynb*
prot2vec.ipynb
.ipynb_checkpoints
.Rproj.user
